/* 

Project Name: Regomoditswe Senne Portfolio
Client: Regomoditswe Senne
Author: Rego Senne 

*/

body {
	
	background: url("../images/borneo_by_kenket.jpg");
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Handlee', cursive;
}

#container {
	background-color: #222;
	opacity: 0.85;
	border: 3px solid black;
	width: 434px;
	color: #fff;
	padding: 15px;
	margin-left: 8em;
}

#code_crusader {
	color : black;
	text-align: center;
	background: #ECC673;
	border-radius: 10px;
	padding: 6px;
}

#code_crusader:hover {
	background: #ECC6ff;
}

#about_me {
	opacity: none;
	color: white;
	padding: 6px;
	text-align: center;
	font-size: 20px;
}

#me {
	padding: 6px;
	width: 420px;
	height: 400px;
	border-radius: 10%;
}

#audio-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
/*	text-align: center;*/
	opacity: 100;
	font-size: 90px;
	margin: 15px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  	background-color: #ECC673;
  	color: #ECC673;
  	justify-content: center;
}

a {
	color: #ECC673;
	text-decoration: none;
}